/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* ======font family=========
font-family: "Work Sans", sans-serif;
font-family: "Anton", sans-serif;
*/

:root{

  --thmColor: #FF6123;
  --textColor: fff;

  --f18 : 18px;
  --f20 : 20px;
  --f22 : 22px;
  --f24 : 24px;
  --f28 : 28px;
  --f30 : 30px;
  --f32 : 32px;
  --f36 : 36px;
  --f40 : 40px;
  --f48 : 48px;
  --f64 : 64px;

}


body {
  font-weight: 400;
  font-size: var(--f18);
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

img{
  max-width: 100%;
}
  
button {
  cursor: pointer; 
  border: none;
  padding: 0;
  background: none;
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: var(--f64);
  }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: var(--f18);
  }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

.pb_150{padding-bottom: 150px;}
.pb_100{padding-bottom: 100px;}
.pb_50{padding-bottom: 50px;}
.pt_150{padding-top: 150px;}
.pt_100{padding-top: 100px;}
.pt_50{padding-top: 50px;}

.mb_150{margin-bottom: 150px;}
.mb_100{margin-bottom: 100px;}
.mb_50{margin-bottom: 50px;}
.mt_150{margin-top: 150px;}
.mt_100{margin-top: 100px;}
.mt_50{margin-top: 50px;}
 
.thm_btn{
    background: var(--thmColor);
    font-family: 'Anton';
    padding: 10px 30px;
    border-radius: 30px;
    transition: all .3s;
}

/* default-css END 
================================== */
 


.header-area {
  padding: 20px 0;
  width: 100%;
  z-index: 99;
  position: absolute;
  color: #fff;
}
.menu-area nav ul li {
  list-style: none;
  display: inline-block;
}

.menu-area nav ul li a {
  font-size: 15px;
  display: inline-block;
  position: relative;
  font-family: 'Anton';
  transition: all .3s;
}

.menu-area nav ul li a:hover {
    color: var(--thmColor);
}
.header__btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
}

.header__btn button {
    font-family: 'Anton';
    padding: 10px 30px;
    background: var(--thmColor);
    border-radius: 40px;
    line-height: 1;
    text-transform: uppercase;
    transition: all .3s;
}

.header__btn button:hover,.thm_btn:hover {
    background: #fff;
    color: var(--thmColor);
}

.header__btn a {
    font-family: 'Anton';
    text-transform: uppercase;
    transition: all .3s;
}

.header__btn a:hover {
    color: var(--thmColor);
}

.menu-area ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* humbergar */
.humbergar {
  cursor: pointer;
  display: block;
  max-width: 35px;
  margin-left: auto;
}

.humbergar span, 
.humbergar span:before, 
.humbergar span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 34px;
  background: white;
  position: relative;
  display: block;
  content: '';
  transition: all 250ms ease-in-out;
  background: var(--thmColor);
}
.humbergar span:before {
  top: -12px;
}
.humbergar span:after {
  bottom: -9px;
}

.humbergar.active span {
  background-color: transparent;
}
.humbergar.active span:before {
  top:0px;
  transform: rotate(45deg);
}

.humbergar.active span:after {
  bottom: 3px;
  transform: rotate(-45deg);
}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 275px;
  height: 100vh;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 100px;
}

.mobile-menu .header__btn {
    flex-direction: column;
    gap: 20px;
    position: absolute;
    width: 74%;
    bottom: 25px;
}

.mobile-menu .header__btn button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    color: #fff;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  color: #272835;
  font-size: 18px;
  line-height: 40px;
  transition: .3s;
  font-family: 'Anton';
}

.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 32px;
  color: rgb(255, 0, 43);
}

/* Header section END */


/*============hero Area Start =============*/
.hero-area {background: url(../img/hero-bg.png);background-size: cover;padding: 200px 0 50px;background-position: bottom;}

.hero__text {
    color: #fff;
}

.hero__text p {
    font-size: var(--f18);
    line-height: 1.5;
    max-width: 530px;
    margin: 50px 0;
}

.hero__text h1 {
    max-width: 940px;
    font-size: 100px;
}

.hero__text h1 span {
    color: var(--thmColor);
}

.brand__logo {display: flex;align-items: center;gap: 50px;margin-top: 100px;}
.user__area {background: #23282E;color: #fff;padding: 100px 0;margin-top: -1px;}
.user__blk {text-align: center;}

.user__blk b {
    font-family: 'Anton';
    font-weight: 400;
    font-size: var(--f18);
}

.user__blk p {
    font-size: var(--f18);
    font-weight: 500;
    max-width: 310px;
    margin: 20px auto;
}
/*============hero Area End =============*/


/*============impact Area Start =============*/

.impact-area {padding: 100px 0;background-size: cover;background-position: center;position: relative;z-index: 0;}

.impact-area:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #F8CFA1 48%, transparent 70%);
    top: 0;
    z-index: 0;
}
.impact__text {position: relative;z-index: 9;}

.impact__text h1 {
    margin-bottom: 40px;
}

.impact__text p {
    max-width: 570px;
    font-size: var(--f18);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1px;
}
/*============impact Area End =============*/


/*============market Area Start =============*/

.market-area {background: #23282E;color: #fff;padding: 150px 0;}

.market-area .row {
    align-items: center;
}
.market__img {max-width: 570px;}
.market__text {max-width: 560px;}

.market__text h1 {
    margin-bottom: var(--f48);
}

.market__text p {
    margin: 0;
    font-size: var(--f18);
    font-weight: 500;
    letter-spacing: -1px;
}
/*============market Area End =============*/


/*============service Area Start =============*/
.service-area {background: #FF6123;color: #fff;padding: 100px 0;}

.service__blk {margin-top: var(--f48);}

.service__blk ul {
    margin-top: 24px;
}

.service__blk ul li {
    padding-left: 30px;
    margin-bottom: 25px;
    position: relative;
}

.service__blk ul li:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: #D9D9D9;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.service__blk ul li p {
    font-size: 16px;
    max-width: 240px;
}


.service__blk p {
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
}

.service__blk h2 {
    color: #000;
    font-size: var(--f40);
}
/*============service Area End =============*/


/*============team Area Start =============*/
.team-area {background: #23282E;color: #fff;padding: 100px 0;}
.team__text {margin-bottom: 80px;}

.team__text p {font-weight: 500;letter-spacing: -1px;text-transform: lowercase;max-width: 905px;margin-top: 30px;}
.team__blk {max-width: 260px;}

.team__blk p {
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: -1px;
}

.team__blk h2 {
    margin-bottom: 30px;
}

.team__blk h2 span {
    color: var(--thmColor);
}

.team__blk i {
    display: block;
    margin-bottom: 24px;
}
/*============team Area End =============*/


/*============contact Area Start =============*/

.contact-area {background: #F8CFA1;padding: 50px 0;}

.book__blk {
    text-align: center;
    background: var(--thmColor);
    color: #fff;
    padding: 40px 80px 80px;
    border-radius: 30px;
}

.book__blk button {
    background: #FFFFFF;
    color: var(--thmColor);
    font-family: 'Anton';
    display: block;
    margin: auto;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: var(--f28);
    line-height: 1.2;
    width: 100%;
    max-width: 270px;
    margin-top: var(--f48);
}

.book__blk p {
    letter-spacing: -1px;
    max-width: 400px;
}

.book__blk h2 {
    font-size: var(--f48);
    color: #000;
    margin-bottom: 24px;
}

.book__wrp {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    border-left: 1px solid #000;
    padding-left: 20px;
}
.contact__form {max-width: 530px;}

.contact__form button {
    width: 100%;
    max-width: 270px;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--f30);
    line-height: 1.2;
}

.contact__form p {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 40px;
}



.contact__form input,.contact__form textarea {
    width: 100%;
    background: none;
    border: 1px solid #000;
    height: 68px;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.contact__form input::placeholder, .contact__form textarea::placeholder {
    color: #000;
}

.contact__form textarea {
    height: 140px;
    padding-top: 18px;
}

/*============contact Area End =============*/


/*============footer Area Start =============*/

.footer-area {background: #23282E;color: #fff;padding: 70px 0 100px;}

.footer__content p {
    max-width: 350px;
    line-height: 1.2;
    margin-top: 20px;
    font-weight: 500;
}
.footer__link {width: max-content;margin-left: auto;}

.footer__link p {
    font-weight: 500;
}

.footer__link ul {
    display: flex;
    gap: 13px;
}

.footer__link ul li a {
    transition: all .3s;
    display: block;
}

.footer__link ul li a:hover {
    scale: 1.1;
}
/*============footer Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/